<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Edit Entry</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <%= form_with model: [ @journel_entry.app_journel, @journel_entry ], url: journel_journel_entry_path, html: {method: "patch", remote: false} do |form| %>
      <div class="modal-body">
        <p>
          <%= form.label :title %><br>
          <%= form.text_field :title %>
        </p>
        <p>
            <%= form.label :body %><br>
            <%= form.text_area :body %>
        </p>
      </div>
      <div class="modal-footer">
        <%= form.submit "Save", class: "btn btn-primary" %>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div>